In [1]:
lst = [1, 2, 3, 4]

In [2]:
sum(lst)

10

In [3]:
lst.insert(1, 9)

In [4]:
print(lst)

[1, 9, 2, 3, 4]

In [5]:
name = ['steve', 'grace', 'hongbian']
sex = ['male', 'female', 'female']
age = [41, 6, 42]

In [6]:
info = [name, sex, age]
print(info)

[['steve', 'grace', 'hongbian'], ['male', 'female', 'female'], [41, 6, 42]]

In [10]:
info_2 = list(zip(*info))

In [11]:
print(info_2)

[('steve', 'male', 41), ('grace', 'female', 6), ('hongbian', 'female', 42)]

In [12]:
lst2 = [2, 2, 3, 4, 5]

In [13]:
set(lst2)

{2, 3, 4, 5}

In [14]:
set(lst) & set(lst2)

{2, 3, 4}

In [15]:
set(lst) | set(lst2)

{1, 2, 3, 4, 5, 9}

In [16]:
set(lst) - set(lst2)

{1, 9}

In [17]:
set(lst2) - set(lst)

{5}

In [18]:
[1, 2] < lst

True

In [19]:
lst > lst2

False

In [26]:
count = 0
while count > -1:
    print(count)
    if count == 12:
        break
    count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
for i in range(10):
    print(i)
    if i == 8:
        continue

0
1
2
3
4
5
6
7
8
9

In [32]:
lst3 = [x for x in range(1, 101, 2)]

In [33]:
print(lst3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [36]:
lst4 = [x for x in range(1, 101) if x % 2 == 0]

In [37]:
print(lst4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [2]:
def desc(list):
    size = len(list)
    avg_num = sum(list)/len(list)
    max_num = max(list)
    min_num = min(list)
    list.sort()
    if len(list) % 2 == 0:
        mid_num = (list[len(list)/2 - 1] + list[len(list)/2]) / 2
    else:
        mid_num = list[len(list)//2]
    return avg_num, max_num, min_num,mid_num

lst = [x**2 for x in range(4,9)]
print(desc(lst))

(38.0, 64, 16, 36)

In [13]:
lst5 = list(map(lambda x:x**2, range(1, 5)))
print(lst5)

[1, 4, 9, 16]

In [14]:
import collections
collections.Counter(lst5)

Counter({1: 1, 4: 1, 9: 1, 16: 1})

In [20]:
import pandas as pd

In [22]:
d = {
    'name' : ['steve', 'grace', 'hong'],
    'sex' : ['M', 'F', 'M'],
    'age' : [28, 8, 29]
}
df1 = pd.DataFrame(d)
print(df1)

    name sex  age
0  steve   M   28
1  grace   F    8
2   hong   M   29

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   sex     3 non-null      object
 2   age     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [25]:
df1[df.age == 8]

    name sex  age
1  grace   F    8

In [29]:
df1[df.age > 10]

    name sex  age
0  steve   M   28
2   hong   M   29

In [30]:
df1[~(df.age > 10)]

    name sex  age
1  grace   F    8

In [32]:
df1.query("(name == 'steve') & (age == 28)")

    name sex  age
0  steve   M   28