In [1]:
import pandas

In [6]:
df = pandas.read_csv("/Users/steveyuan/Library/CloudStorage/Dropbox/Data Analysis Class_2023/Python/DiceJobs.csv")

In [7]:
print(df.head())

                                             Title          Location  \
0                           Tableau Sr. Consultant  Jacksonville, FL
1                                Tableau Developer    Bloomfield, CT
2                                Tableau Developer     Lafayette, LA
3  Digital Media Analyst - SAS, R, Python, Tableau      New York, NY
4                          Tableau Admin/Developer      Hartford, CT

                   Company                 Salary  Unnamed: 4  SearchURL  \
0              Exl Service  Depends On Experience       False        NaN
1                      CGI  Depends On Experience       False        NaN
2                      CGI  Depends On Experience       False        NaN
3  SAS, R, Python, Tableau                 Market       False        NaN
4            SmallArc, Inc  Depends On Experience       False        NaN

                                                 URL    SQL  Hadoop  Oracle  \
0  https://www.dice.com/jobs/detail/Tableau-Sr.-C...  False   False   False
1  https://www.dice.com/jobs/detail/Tableau-Devel...   True   False   False
2  https://www.dice.com/jobs/detail/Tableau-Devel...   True   False   False
3  https://www.dice.com/jobs/detail/Digital-Media...   True    True   False
4  https://www.dice.com/jobs/detail/Tableau-Admin...   True   False    True

   ...    SAS  Agile  Scrum  Statistics  PowerPoint  Python  Matlab  \
0  ...  False  False  False        True       False   False   False
1  ...  False   True   True       False       False   False   False
2  ...  False   True   True       False       False   False   False
3  ...   True  False  False        True       False   False   False
4  ...  False  False  False       False       False   False   False

   SQL Server   SSRS    ETL
0       False  False  False
1       False  False  False
2       False  False  False
3       False  False  False
4       False  False  False

[5 rows x 24 columns]

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [10]:
print(df.shape)

(730, 24)

In [13]:
print(df.dtypes)

Title          object
Location       object
Company        object
Salary         object
Unnamed: 4       bool
SearchURL     float64
URL            object
SQL              bool
Hadoop           bool
Oracle           bool
Excel            bool
Teradata         bool
DB2              bool
Qlik             bool
SAS              bool
Agile            bool
Scrum            bool
Statistics       bool
PowerPoint       bool
Python           bool
Matlab           bool
SQL Server       bool
SSRS             bool
ETL              bool
dtype: object

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       730 non-null    object
 1   Location    730 non-null    object
 2   Company     724 non-null    object
 3   Salary      726 non-null    object
 4   Unnamed: 4  730 non-null    bool
 5   SearchURL   0 non-null      float64
 6   URL         730 non-null    object
 7   SQL         730 non-null    bool
 8   Hadoop      730 non-null    bool
 9   Oracle      730 non-null    bool
 10  Excel       730 non-null    bool
 11  Teradata    730 non-null    bool
 12  DB2         730 non-null    bool
 13  Qlik        730 non-null    bool
 14  SAS         730 non-null    bool
 15  Agile       730 non-null    bool
 16  Scrum       730 non-null    bool
 17  Statistics  730 non-null    bool
 18  PowerPoint  730 non-null    bool
 19  Python      730 non-null    bool
 20  Matlab      730 non-null    bool
 21  SQL Server  730 non-null    bool
 22  SSRS        730 non-null    bool
 23  ETL         730 non-null    bool
dtypes: bool(18), float64(1), object(5)
memory usage: 47.2+ KB
None

In [17]:
URL = df['URL']

In [18]:
print(URL.head())

0    https://www.dice.com/jobs/detail/Tableau-Sr.-C...
1    https://www.dice.com/jobs/detail/Tableau-Devel...
2    https://www.dice.com/jobs/detail/Tableau-Devel...
3    https://www.dice.com/jobs/detail/Digital-Media...
4    https://www.dice.com/jobs/detail/Tableau-Admin...
Name: URL, dtype: object

In [20]:
multi = df[['URL','DB2', 'SQL']]

In [21]:
print(multi.tail())

                                                   URL    DB2   SQL
725  https://www.dice.com/jobs/detail/Tableau-Visua...  False  True
726  https://www.dice.com/jobs/detail/Tableau-Visua...  False  True
727  https://www.dice.com/jobs/detail/Tableau-Devel...  False  True
728  https://www.dice.com/jobs/detail/BI-Reports-De...  False  True
729  https://www.dice.com/jobs/detail/Business-Syst...  False  True

In [22]:
smallRange = list(range(5))

In [24]:
subset = df.iloc[:,smallRange]

In [25]:
print(subset.head())

                                             Title          Location  \
0                           Tableau Sr. Consultant  Jacksonville, FL
1                                Tableau Developer    Bloomfield, CT
2                                Tableau Developer     Lafayette, LA
3  Digital Media Analyst - SAS, R, Python, Tableau      New York, NY
4                          Tableau Admin/Developer      Hartford, CT

                   Company                 Salary  Unnamed: 4
0              Exl Service  Depends On Experience       False
1                      CGI  Depends On Experience       False
2                      CGI  Depends On Experience       False
3  SAS, R, Python, Tableau                 Market       False
4            SmallArc, Inc  Depends On Experience       False

In [26]:
print(subset.loc[0])

Title         Tableau Sr. Consultant
Location            Jacksonville, FL
Company                  Exl Service
Salary         Depends On Experience
Unnamed: 4                     False
Name: 0, dtype: object

In [29]:
last_row_number = subset.shape[0] - 1

In [30]:
print(subset.loc[last_row_number])

Title         Business Systems Analyst - SAS, Monarch, or Ta...
Location                                           Falmouth, ME
Company                                SAS, Monarch, or Tableau
Salary                                             $85k - $100k
Unnamed: 4                                                False
Name: 729, dtype: object

In [31]:
print(subset.tail(n = 1))

                                                 Title      Location  \
729  Business Systems Analyst - SAS, Monarch, or Ta...  Falmouth, ME

                      Company        Salary  Unnamed: 4
729  SAS, Monarch, or Tableau  $85k - $100k       False

In [32]:
print(subset.loc[[0, 99, 729]])

                                                 Title          Location  \
0                               Tableau Sr. Consultant  Jacksonville, FL
99                           Sharepoint Lead Developer      New York, NY
729  Business Systems Analyst - SAS, Monarch, or Ta...      Falmouth, ME

                      Company                 Salary  Unnamed: 4
0                 Exl Service  Depends On Experience       False
99   Columbia Technology Corp            Competitive       False
729  SAS, Monarch, or Tableau           $85k - $100k       False

In [34]:
print(subset.iloc[[0, 0]])

                    Title          Location      Company  \
0  Tableau Sr. Consultant  Jacksonville, FL  Exl Service
0  Tableau Sr. Consultant  Jacksonville, FL  Exl Service

                  Salary  Unnamed: 4
0  Depends On Experience       False
0  Depends On Experience       False

In [39]:
# print(subset.iloc[[0,99,729],[0,1,2]])

row_indices = subset.index[[0, 99, 729]]
print(subset.loc[row_indices, ['Title', 'Location', 'Company']])

                                                 Title          Location  \
0                               Tableau Sr. Consultant  Jacksonville, FL
99                           Sharepoint Lead Developer      New York, NY
729  Business Systems Analyst - SAS, Monarch, or Ta...      Falmouth, ME

                      Company
0                 Exl Service
99   Columbia Technology Corp
729  SAS, Monarch, or Tableau

In [40]:
print(df.head())

                                             Title          Location  \
0                           Tableau Sr. Consultant  Jacksonville, FL
1                                Tableau Developer    Bloomfield, CT
2                                Tableau Developer     Lafayette, LA
3  Digital Media Analyst - SAS, R, Python, Tableau      New York, NY
4                          Tableau Admin/Developer      Hartford, CT

                   Company                 Salary  Unnamed: 4  SearchURL  \
0              Exl Service  Depends On Experience       False        NaN
1                      CGI  Depends On Experience       False        NaN
2                      CGI  Depends On Experience       False        NaN
3  SAS, R, Python, Tableau                 Market       False        NaN
4            SmallArc, Inc  Depends On Experience       False        NaN

                                                 URL    SQL  Hadoop  Oracle  \
0  https://www.dice.com/jobs/detail/Tableau-Sr.-C...  False   False   False
1  https://www.dice.com/jobs/detail/Tableau-Devel...   True   False   False
2  https://www.dice.com/jobs/detail/Tableau-Devel...   True   False   False
3  https://www.dice.com/jobs/detail/Digital-Media...   True    True   False
4  https://www.dice.com/jobs/detail/Tableau-Admin...   True   False    True

   ...    SAS  Agile  Scrum  Statistics  PowerPoint  Python  Matlab  \
0  ...  False  False  False        True       False   False   False
1  ...  False   True   True       False       False   False   False
2  ...  False   True   True       False       False   False   False
3  ...   True  False  False        True       False   False   False
4  ...  False  False  False       False       False   False   False

   SQL Server   SSRS    ETL
0       False  False  False
1       False  False  False
2       False  False  False
3       False  False  False
4       False  False  False

[5 rows x 24 columns]