In [1]:
import sqlalchemy as sa
import pymysql

In [2]:
# create engine to connect sql database
engine = sa.create_engine('mysql+pymysql://root:ifeng%408276@localhost:3306/news', echo=True)

In [3]:
# Define the table
meta = sa.MetaData()
students = sa.Table('students', meta, 
                 sa.Column('id', sa.Integer, primary_key=True), 
                 sa.Column('name', sa.String(128), unique=True, nullable=False), 
                 sa.Column('age', sa.Integer)    
                 )
meta.create_all(engine)

2024-05-13 14:01:44,704 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-13 14:01:44,705 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-13 14:01:44,706 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-13 14:01:44,707 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-13 14:01:44,709 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-13 14:01:44,709 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-13 14:01:44,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 14:01:44,712 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-13 14:01:44,713 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {'table_schema': 'news', 'table_name': 'students'}
2024-05-13 14:01:44,758 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(128) NOT NULL,
	age INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2024-05-13 14:01:44,759 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2024-05-13 14:01:44,810 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
# Create the table
meta.create_all(engine)

2024-05-13 14:01:49,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 14:01:49,559 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-13 14:01:49,559 INFO sqlalchemy.engine.Engine [cached since 4.847s ago] {'table_schema': 'news', 'table_name': 'students'}
2024-05-13 14:01:49,562 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
# Insert a single record into the 'students' table
student_insert = students.insert().values(name='Tom', age=30)

# Use the connection with a transaction
with engine.connect() as conn:
    # Begin a transaction
    trans = conn.begin()
    try:
        result = conn.execute(student_insert)
        print(result.inserted_primary_key)
        # Commit the transaction
        trans.commit()
    except Exception as e:
        # Rollback the transaction in case of error
        trans.rollback()
        print("Failed to insert:", e)

2024-05-13 14:20:22,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 14:20:22,932 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (%(name)s, %(age)s)
2024-05-13 14:20:22,933 INFO sqlalchemy.engine.Engine [cached since 499.9s ago] {'name': 'Tom', 'age': 30}
(5,)
2024-05-13 14:20:22,937 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
# Insert multiple records
student_insert = students.insert()

# Use the connection with a transaction
with engine.connect() as conn:
    # Begin a transaction
    trans = conn.begin()
    try:
        result = conn.execute(student_insert,[
            {'name': 'Mary', 'age': 25},
            {'name': 'Jack', 'age': 30},
            {'name': 'Smith', 'age': 28},
        ])
        print(result.inserted_primary_key_rows)
        # Commit the transaction
        trans.commit()
    except Exception as e:
        # Rollback the transaction in case of error
        trans.rollback()
        print("Failed to insert:", e)

2024-05-13 14:26:47,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 14:26:47,097 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (%(name)s, %(age)s)
2024-05-13 14:26:47,098 INFO sqlalchemy.engine.Engine [cached since 74.97s ago] ({'name': 'Mary', 'age': 25}, {'name': 'Jack', 'age': 30}, {'name': 'Smith', 'age': 28})
[(None,), (None,), (None,)]
2024-05-13 14:26:47,101 INFO sqlalchemy.engine.Engine COMMIT