In [4]:
import sqlalchemy as sa
import pymysql
from sqlalchemy import Table, Column, Integer, String, Date, MetaData, ForeignKey

In [5]:
# create engine to connect sql database
engine = sa.create_engine('mysql+pymysql://root:ifeng%408276@localhost:3306/news', echo=True)

In [8]:
meta = MetaData()

department = Table(
    'department', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(128), unique=True, nullable=False)
)

employee_1 = Table(
    'employee_1', meta,
    Column('id', Integer, primary_key=True),
    Column('department_id', Integer, ForeignKey('department.id'), nullable=False),
    Column('name', String(128), nullable=False),
    Column('birthday', Date, nullable=False)
)

meta.create_all(engine)

2024-05-15 13:00:37,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-15 13:00:37,796 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-15 13:00:37,797 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {'table_schema': 'news', 'table_name': 'department'}
2024-05-15 13:00:37,800 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-15 13:00:37,800 INFO sqlalchemy.engine.Engine [cached since 0.004859s ago] {'table_schema': 'news', 'table_name': 'employee_1'}
2024-05-15 13:00:37,803 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
with engine.connect() as conn:
    # Check and insert departments if they don't already exist
    departments_to_insert = [{"name": "HR"}, {"name": "IT"}]
    for dept in departments_to_insert:
        existing_dept = conn.execute(department.select().where(department.c.name == dept["name"])).fetchone()
        if not existing_dept:
            conn.execute(department.insert().values(dept))

    # Insert employees
    employees_to_insert = [
        {"department_id": 1, "name": "Tom", "birthday": "1985-01-01"},
        {"department_id": 1, "name": "John", "birthday": "1986-02-01"},
        {"department_id": 1, "name": "Hax", "birthday": "1987-03-01"},
        {"department_id": 2, "name": "Joe", "birthday": "1988-04-01"},
        {"department_id": 2, "name": "Henry", "birthday": "1989-05-01"},
        {"department_id": 2, "name": "Will", "birthday": "1990-06-01"}
    ]
    conn.execute(employee_1.insert(), employees_to_insert)

2024-05-15 12:16:42,252 INFO sqlalchemy.engine.Engine SELECT department.id, department.name
FROM department
WHERE department.name = %(name_1)s
2024-05-15 12:16:42,253 INFO sqlalchemy.engine.Engine [generated in 0.00134s] {'name_1': 'HR'}
2024-05-15 12:16:42,255 INFO sqlalchemy.engine.Engine SELECT department.id, department.name
FROM department
WHERE department.name = %(name_1)s
2024-05-15 12:16:42,255 INFO sqlalchemy.engine.Engine [cached since 0.003178s ago] {'name_1': 'IT'}
2024-05-15 12:16:42,257 INFO sqlalchemy.engine.Engine INSERT INTO employee_1 (department_id, name, birthday) VALUES (%(department_id)s, %(name)s, %(birthday)s)
2024-05-15 12:16:42,258 INFO sqlalchemy.engine.Engine [generated in 0.00071s] ({'department_id': 1, 'name': 'Tom', 'birthday': '1985-01-01'}, {'department_id': 1, 'name': 'John', 'birthday': '1986-02-01'}, {'department_id': 1, 'name': 'Hax', 'birthday': '1987-03-01'}, {'department_id': 2, 'name': 'Joe', 'birthday': '1988-04-01'}, {'department_id': 2, 'name': 'Henry', 'birthday': '1989-05-01'}, {'department_id': 2, 'name': 'Will', 'birthday': '1990-06-01'})
2024-05-15 12:16:42,260 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
# join query method 1
# 分行使用 """SQL Query""", 或者使用()
join_query = """
    Select e.id, d.name, e.name, e.birthday 
    from department d 
    join employee_1 e on e.department_id = d.id 
    where d.name = 'HR'
    """
# or
# join_query = (
#     "Select * "
#     "from department d" 
#     "join employee_1 e on e.department_id = d.id" 
#     "where d.name = 'HR'"
# )

with engine.connect() as conn:
    result = conn.execute(join_query)
    for row in result:
        print(row)

2024-05-15 13:05:49,018 INFO sqlalchemy.engine.Engine
    Select e.id, d.name, e.name, e.birthday
    from department d
    join employee_1 e on e.department_id = d.id
    where d.name = 'HR'

2024-05-15 13:05:49,019 INFO sqlalchemy.engine.Engine [raw sql] {}
(1, 'HR', 'Tom', datetime.date(1985, 1, 1))
(2, 'HR', 'John', datetime.date(1986, 2, 1))
(3, 'HR', 'Hax', datetime.date(1987, 3, 1))

In [9]:
# Query method 2
with engine.connect() as conn:
    join = employee_1.join(department, department.c.id == employee_1.c.department_id)
    query = sa.select([employee_1, department]).select_from(join).where(department.c.name == "HR")

    result = conn.execute(query)
    print(result.fetchall())

2024-05-15 13:00:47,485 INFO sqlalchemy.engine.Engine SELECT employee_1.id, employee_1.department_id, employee_1.name, employee_1.birthday, department.id AS id_1, department.name AS name_1
FROM employee_1 INNER JOIN department ON department.id = employee_1.department_id
WHERE department.name = %(name_2)s
2024-05-15 13:00:47,487 INFO sqlalchemy.engine.Engine [generated in 0.00150s] {'name_2': 'HR'}
[(1, 1, 'Tom', datetime.date(1985, 1, 1), 1, 'HR'), (2, 1, 'John', datetime.date(1986, 2, 1), 1, 'HR'), (3, 1, 'Hax', datetime.date(1987, 3, 1), 1, 'HR')]