In [6]:
import sqlalchemy as sa
import pymysql
from sqlalchemy import Table, Column, Integer, String, Date, MetaData

In [2]:
# create engine to connect sql database
engine = sa.create_engine('mysql+pymysql://root:ifeng%408276@localhost:3306/news', echo=True)

In [4]:
# Method 1:update
# update address "aaa"
with engine.connect() as conn:
    update_query = "UPDATE students SET address = 'aaa'"
    conn.execute(update_query)

2024-05-15 11:23:15,403 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-15 11:23:15,403 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-15 11:23:15,405 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-15 11:23:15,406 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-15 11:23:15,407 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-15 11:23:15,408 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-15 11:23:15,410 INFO sqlalchemy.engine.Engine UPDATE students SET address = 'aaa'
2024-05-15 11:23:15,411 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-15 11:23:15,416 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'Connection' object has no attribute 'commit'

In [11]:
#定义元数据和反射现有表
meta = MetaData()
students = Table('students', meta, autoload_with = engine, autoload=True)

2024-05-15 11:34:54,111 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `students`
2024-05-15 11:34:54,112 INFO sqlalchemy.engine.Engine [raw sql] {}

In [16]:
# method 2:update
with engine.connect() as conn:
    update_query = students.update().where(students.c.id == 5).values(birthday = "2020-05-01")
    conn.execute(update_query)

2024-05-15 11:36:27,782 INFO sqlalchemy.engine.Engine UPDATE students SET birthday=%(birthday)s WHERE students.id = %(id_1)s
2024-05-15 11:36:27,783 INFO sqlalchemy.engine.Engine [generated in 0.00139s] {'birthday': '2020-05-01', 'id_1': 5}
2024-05-15 11:36:27,785 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
# Method 1:delete
# update address "aaa"
with engine.connect() as conn:
    update_query = "DELETE FROM students WHERE id = 1"
    conn.execute(update_query)

2024-05-15 11:40:36,769 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE id = 1
2024-05-15 11:40:36,770 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-15 11:40:36,772 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
# method 2:update
with engine.connect() as conn:
    delete_query = students.delete().where(students.c.id == 14)
    conn.execute(delete_query)

2024-05-15 11:42:47,910 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.id = %(id_1)s
2024-05-15 11:42:47,912 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {'id_1': 14}
2024-05-15 11:42:47,913 INFO sqlalchemy.engine.Engine COMMIT